header {
  background-color: #F5F5F9;
  min-height: 84px;
  display: flex;
  align-items: center;

  a {
    margin-left: 68px;
    color: #48494D
  }

  a:first-of-type {
    margin-left: 16px;
  }
};

nav {
  display: flex;
  flex-wrap: wrap;
  font-weight: 600;
  margin-left: auto;
}

.header__content {
    min-width: 1024px;
    width: 1184px;
    margin: 0 auto;
    display: flex;
    align-items: center;
};
