.header {
  background-color: #F5F5F9;
  min-height: 84px;
  display: flex;
  align-items: center;

  a:last-child {
    margin-right: 0;
  }

  img {
    margin-left: 16px;
    margin-right: 20px;
  }

  nav {
    padding-top: 20px
  }
};

nav {
  display: flex;
  flex-wrap: wrap;
  font-weight: 600;
  margin-left: auto;

  a {
    margin-right: 68px;
    color: #48494D;
    margin-bottom: 20px;
  }
}

.header__content {
    min-width: 1024px;
    width: 100%;
    max-width: 1184px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
};
