.main__contacts {
  display: flex;
}

.main__contacts-info {
  padding-top: 9px;
  padding-left: 23px;
  color: #000000;
  width: 268px;

  a {
    color: #000000;
  }
}

.main__info-title {
  margin-bottom: 7px;
  font-weight: bold;
  font-size: 16px;
}

.main__info-description {
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  margin-bottom: 25px;
  display: block;
}

.main__info-map {
  margin-left: 91px;
  margin-top: 14px;
}
